[core]

name: uranium

tags: uranium, air

#resourceRate: 1

generation_delay: 40




[graphics]


[global_resource_uranium]

displayName: Uranium

displayNameShort: U

priority: 1

displayColor:#C0C0C0

#reference to by price: t=1000

#-------WAFFZ AI PRIORITIES STUFF------

#DIFFUCTLY TEST (Used by some actions to tell what diffuctly the AI is on)
[global_resource_DIFF]
displayName: diff
#hidden: true
#---

#ATTACK BUILDERS
[action_attackhigh]
text: Attack Builders
isVisible: if self.isControlledByAI() and not self.tags(includes='buildi') and not self.tags(includes='defme')
ai_isHighPriority: if numberOfUnitsInEnemyTeam(withTag='Aibuilder', withinRange=400, greaterThan=0) and self.hasTakenDamage(laterThanSeconds=3)
addWaypoint_type: attack
addWaypoint_prepend: true
#addWaypoint_maxTime: 5s
addWaypoint_target_nearestUnit_tagged: aibuilder
addWaypoint_target_nearestUnit_team: enemy
addWaypoint_target_mapMustBeReachable: false
buildSpeed: 0s
addActionCooldownTime: 15s
#---

#RETREAT AND DEFEND
[action_Retreat]
buildSpeed: 0s
text: Retreat
description: Tell this Unit to go to a Repair Bay
isVisible: if not self.tags(includes='buildi')
addWaypoint_type: follow
addWaypoint_target_nearestUnit_tagged: fallback
addWaypoint_target_nearestUnit_team: own
clearAllWaypoints: true
addActionCooldownTime: 6s

[action_AiStrongRetreat]
text: retreat (AI)
isVisible: false
autoTrigger: if self.hp(lessThan=${core.maxHp*0.3}) and self.isControlledByAI and not self.hp(greaterThan=3500) or numberOfUnitsInEnemyTeam(withTag='antiair', greaterThan=0, withinRange=420) and not numberOfUnitsInTeam(withTag='air', lessThan=5, withinRange=420)
addWaypoint_type: move
addWaypoint_target_nearestUnit_tagged: fallback
addWaypoint_target_nearestUnit_team: own
#addWaypoint_prepend: true
clearAllWaypoints: true

[action_DEFENDER]
text: AI Defender
buildSpeed: 0s
description: Assign Unit to Defend Base
isVisible: if self.isControlledByAI() and not self.tags(includes='defMe') and not self.tags(includes='turret') and not self.tags(includes='hint') and not numberOfUnitsInTeam(withinRange=150, greaterThan=2) and not self.tags(includes='buildi')
ai_isHighPriority: if numberOfUnitsInTeam(withTag='Defender', lessThan=2, withinRange=400) and self.hp(full=true) and not numberOfUnitsInEnemyTeam(withinRange=300, greaterThan=2) and self.timeAlive(laterThanSeconds=10) and self.resource(type='diff', greaterThan=9) or self.globalTeamTags(includes='defensive') and numberOfUnitsInTeam(withTag='Defender', lessThan=15)
ai_isDisabled: if self.tags(includes='defMe')
temporarilyAddTags: Defender
addActionCooldownTime: 60s
addActionCooldownApplyToActions: TOOMANYDEFENDER

[action_TOOMANYDEFENDER]
text: AI No Defender
buildSpeed: 0s
description: unAssign Unit to Defend Base (To many Defenders [5])
isVisible: if self.isControlledByAI() and not self.tags(includes='defMe') and not self.tags(includes='turret') and self.tags(includes='defender')
ai_isHighPriority: if numberOfUnitsInTeam(withTag='Defender', greaterThan=4, withinRange=400) and not numberOfUnitsInEnemyTeam(withinRange=300, greaterThan=3) and not self.globalTeamTags(includes='defensive')
ai_isDisabled: if self.globalTeamTags(includes='defensive')
temporarilyRemoveTags: Defender



[action_Defend]
buildSpeed: 0s
text: Defend
autoTrigger: if self.tags(includes='Defender') and not self.hasActiveWaypoint(type='guard')
isVisible: if self.tags(includes='Defender')
addWaypoint_type: guard
clearAllWaypoints: true

addWaypoint_target_randomUnit_tagged: defme
addWaypoint_target_randomUnit_team: own
addWaypoint_target_randomUnit_maxRange: 500
#----

#RALLY
[action_RallyA]
#Attack
text: Attack Rally
description: Charge Twords Attack Rallys
isVisible: if self.isControlledByAI and not self.tags(includes='defme') and not self.tags(includes='buildi')
ai_isHighPriority: if self.numberOfUnitsInAllyNotOwnTeam(withTag='Atrally', greaterThan=0) and numberOfUnitsInTeam(withTag='AtaRally', lessThan=15) and not self.tags(includes='defme')
buildSpeed: 0.1s


addWaypoint_type: attackMove
addWaypoint_target_nearestUnit_tagged: Atrally
addWaypoint_target_nearestUnit_team: ally

#clearAllWaypoints: true

temporarilyAddTags: AttRallyMove
[action_attForce]
text: Attack Rally Force
#autoTrigger: if self.tags(includes='AttRallyMove')
buildSpeed: 0s
isVisible: if self.isControlledByAI() and not self.tags(includes='buildi')
ai_isHighPriority: if self.tags(includes='Atrally')
addWaypoint_type: attackMove
addWaypoint_target_nearestUnit_tagged: AssuRally
addWaypoint_target_nearestUnit_team: ally

[action_RallyAssu]
#Assault
text: Assault Rally
description: Charge Twords Attack Rallys
isVisible: if self.isControlledByAI() and not self.tags(includes='defme') and not self.tags(includes='buildi')
ai_isHighPriority: if self.numberOfUnitsInAllyNotOwnTeam(withTag='AssuRally', greaterThan=0) and not self.tags(includes='defme')
buildSpeed: 0.1s
addWaypoint_prepend: true

addWaypoint_type: attackMove
addWaypoint_target_nearestUnit_tagged: AssuRally
addWaypoint_target_nearestUnit_team: ally

temporarilyAddTags: AssultBegin

clearAllWaypoints: true
[action_assultForce]
text: Assualt Rally Force
isVisible: if self.isControlledByAI() and not self.tags(includes='buildi')
ai_isHighPriority: if self.tags(includes='AssuRally')

buildSpeed: 0s

addWaypoint_type: attackMove
addWaypoint_target_nearestUnit_tagged: AssuRally
addWaypoint_target_nearestUnit_team: ally
addWaypoint_prepend: true

[action_RallyD]
#Defend
text: Defend Rally
description: Defend Rally
isVisible: if self.isControlledByAI() and not self.tags(includes='defme') and not self.tags(includes='buildi')
ai_isHighPriority: if self.numberOfUnitsInAllyNotOwnTeam(withTag='Drally', greaterThan=0) and numberOfUnitsInTeam(withTag='DefRallyMove', lessThan=5) and not self.tags(includes='defme')
buildSpeed: 0.1s


addWaypoint_type: guard
addWaypoint_target_nearestUnit_tagged: Drally
addWaypoint_target_nearestUnit_team: ally

clearAllWaypoints: true

temporarilyAddTags: RallyMove, DefRallyMove

[action_cancle]
#Cancel
text: Rally Over
description: Rally Task Completetd
isVisible: if self.isControlledByAI
ai_isHighPriority: if self.numberOfUnitsInAllyNotOwnTeam(withTag='rally', lessThan=0)
buildSpeed: 0.1s
temporarilyRemoveTags: RallyMove, AtaRally, DefRallyMove, AssultBegin
#---

#-----------------------