[core]

name: uranium

tags: uranium

#resourceRate: 1

generation_delay: 40


[graphics]


[global_resource_uranium]

displayName: Uranium

displayNameShort: U

priority: 1

displayColor:#C0C0C0

#reference to by price: t=1000

#effects

[effect_dirtyExplosion]
life:0
alsoEmitEffects: CUSTOM:lightGround, CUSTOM:dirt, shockwave, CUSTOM:dirtySmoke, smallExplosion
createWhenOverLiquid: false

[effect_waterSplash]
life:0
alsoEmitEffects: CUSTOM:wave, CUSTOM:waterSplash1, CUSTOM:waterSplash2, CUSTOM:waterSplash3, CUSTOM:waterSplash4*3, CUSTOM:waterSplash5*5

[effect_missileFlare1]
life: 10
lifeRandom: 5
spawnChance: 0.25
alwayStartDirAtZero: true
ifSpawnFailsEmitEffects: CUSTOM:missileFlare2
image: ROOT:shared/yellow_flare.png
yOffsetRelative: -3.5
@define missileFlareSize: 0.1
scaleFrom: ${missileFlareSize}
scaleTo: ${missileFlareSize}